*.o
*.eps
*.tgff
*.vcg
*.tgffopt
tgff
target/
Cargo.lock
*.dot
*.svg
*.csv
erdosrenyimodel/**/*.png
drs
*.txt

# for LaTeX files
*.aux
*.log
*.out
*.toc
*.vrb
*.snm
*.nav
*.synctex.gz
vortrag kopie.tex
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.lof
*.lot